---
import { Icon } from 'astro-icon/components';

import navData from '../data/navData';
import Crumbs from './Crumbs.astro';

const { crumbs } = Astro.props;
---

<nav aria-expanded="true" data-disable-mount-anim>
	<div class="top-bar">
		<button class="nav-toggle" title="Navigation" aria-label="Navigation" aria-controls="nav-panel">
			<span class="visually-hidden">Navigation</span>
			<Icon name="nav_toggle" />
		</button>
		<Crumbs crumbs={crumbs} />
	</div>

	<div id="nav-panel" class="">
		<div class="placeholder">
			<Icon name="nav_toggle" />
		</div>

		<div class="directory">
			{
				navData.map((page) => (
					<a href={page.path} title={page.name} aria-label={page.name} data-nav-link>
						<span class="visually-hidden">{page.name}</span>
						<Icon name={page.name.toLowerCase()} />
					</a>
				))
			}
		</div>

		<button class="contact" title="Contact" aria-label="Contact methods">
			<span class="visually-hidden">Contact methods</span>
			<Icon name="contact" />
		</button>
	</div>
</nav>

<style is:global>
	:root {
		/* update value in JS too for Safari bug | rel:1 */
		--nav-anim-duration: 300ms;
	}
</style>

<style lang="scss">
	nav {
		$nav-width: 70px;
		$icon-width: 35px;
		$vert-padding: 20px;

		grid-area: nav;
		position: sticky;
		top: 0;
		width: $nav-width;
		height: calc(100vh);
		height: calc(100dvh);
		transition: width ease-in-out var(--nav-anim-duration);
		z-index: 100;

		&[aria-expanded='false'] {
			width: 0px;
		}

		@media only screen and (max-width: 600px) {
			&[data-disable-mount-anim] {
				width: 0px;
			}
		}

		.top-bar {
			z-index: 99;
			position: fixed;
			display: flex;
			max-width: 600px;
			top: $vert-padding;
			left: calc(($nav-width - $icon-width) / 2);
			margin-right: calc(($nav-width - $icon-width) / 2);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			border-radius: 5px;
		}

		#nav-panel {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			padding: $vert-padding 0;
			align-items: center;
			justify-content: space-between;
			overflow-x: hidden;
			overflow-y: auto;
			line-height: 0;
			height: calc(100vh - $vert-padding * 2);
			height: calc(100dvh - $vert-padding * 2);
		}

		.placeholder {
			opacity: 0;
		}

		svg {
			font-size: $icon-width;
			color: var(--glyph-standard);
		}

		button {
			line-height: 0;
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;

			a {
				$flush-left: calc(($nav-width - $icon-width) / -2);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: calc($flush-left - 1px);
					height: 100%;
					border-left: 1px solid var(--glyph-standard);
					transition: left 200ms ease-out;
				}

				// current page
				&:is([aria-current]) {
					opacity: 1;

					&:after {
						left: calc($flush-left + 4px);
					}

					&:hover:after {
						left: calc($flush-left + 5px);
					}
				}

				// inactive pages
				&:not([aria-current]) {
					opacity: 0.5;

					&:focus {
						opacity: 1;
					}

					&:hover:after {
						left: calc($flush-left + 4px);
					}
				}
			}
		}
	}
</style>

<script>
	import { browserDetect } from '../../public/scripts/global-scripts.js';

	const PrimaryGrid = document.getElementById('primary-grid');
	const Nav = document.querySelector('nav');
	const NavToggle = document.querySelector('.nav-toggle');
	const Crumbs = document.querySelector('.crumbs');
	const NavPanel = document.getElementById('nav-panel');
	const NavLinks = document.querySelectorAll('[data-nav-link]');
	const Main = document.querySelector('main');
	const Footer = document.querySelector('footer');
	const AllLinks = document.querySelectorAll('a');

	let _isContentFrozen = false;
	let _screenWidth;
	let _navAnimDuration;
	let _navAnimTimer;
	let _isNavExpanded;
	let _navStateInvoker;

	document.addEventListener('DOMContentLoaded', mount);
	window.addEventListener('pageshow', cacheCheck);

	function bindEvents() {
		window.addEventListener('resize', mediaQueryHandler);
		NavToggle.addEventListener('click', attributeToggler);
		AllLinks.forEach((link) => {
			if (!link.hasAttribute('data-disable-link-handler') && link.getAttribute('href') != '#') {
				link.addEventListener('click', allLinkHandler);
			}
		});
	}

	function mount() {
		setCurrentNavLink();
		mediaQueryHandler();
		Nav.removeAttribute('data-disable-mount-anim');
		getNavAnimDuration();
		bindEvents();

		if (sessionStorage.getItem('crumbClicked') === 'true') {
			Crumbs.setAttribute('data-disable-mount-anim', '');
		}
		sessionStorage.removeItem('crumbClicked');
	}

	function cacheCheck(e) {
		if (!e.persisted) {
			return;
		}

		// remove cached styling from previous unmount
		setCurrentNavLink();
		mediaQueryHandler();
		Nav.removeAttribute('style');
		Main.classList.remove('anim-unmount');
		Footer.classList.remove('anim-unmount');
		Crumbs.classList.remove('anim-unmount');
	}

	function setCurrentNavLink() {
		const currentLocation = window.location.pathname;

		NavLinks.forEach((link) => {
			const linkDestination = link.getAttribute('href');
			// clear attributes incase of caching leftovers
			// TODO: see if removeAttribute are necessary
			// link.removeAttribute('aria-current');
			// link.removeAttribute('aria-label');

			if (linkDestination === '/' && currentLocation === '/') {
				link.setAttribute('aria-current', 'page');
				link.setAttribute('aria-label', 'scroll to top');
			} else if (currentLocation.includes(linkDestination) && linkDestination !== '/') {
				link.setAttribute('aria-current', 'page');
				link.setAttribute('aria-label', 'scroll to top');
			}
		});
	}

	function mediaQueryHandler() {
		_isNavExpanded = Nav.getAttribute('aria-expanded');

		if (document.body.clientWidth <= 600) {
			_screenWidth = 'narrow';
		} else {
			_screenWidth = 'wide';
		}

		if (_screenWidth === 'narrow' && _isNavExpanded === 'true') {
			setCollapsedNavAttributes();
			return;
		}

		if (_screenWidth === 'wide') {
			if (_isContentFrozen === true) {
				freezeContent('thaw');
			} else if (_isNavExpanded === 'false' && _navStateInvoker !== 'user-collapsed') {
				setExpandedNavAttributes();
			}
		}
	}

	function getNavAnimDuration() {
		_navAnimDuration =
			Number(
				window
					.getComputedStyle(Nav)
					.getPropertyValue('transition-duration')
					.replace(/[^0-9\.]+/g, '')
			) * 1000;

		// fix for Safari bug | rel:1
		if (browserDetect() === 'safari') {
			_navAnimDuration = 300;
		}
	}

	function setExpandedNavAttributes(invokedBy = 'auto') {
		clearTimeout(_navAnimTimer);
		Nav.setAttribute('aria-expanded', 'true');
		NavPanel.removeAttribute('aria-hidden');
		NavPanel.classList.remove('display-none');

		if (_screenWidth === 'narrow') {
			freezeContent();
		}
		_navStateInvoker = `${invokedBy}-expanded`;
	}

	function setCollapsedNavAttributes(invokedBy = 'auto') {
		Nav.setAttribute('aria-expanded', 'false');
		NavPanel.setAttribute('aria-hidden', 'true');
		freezeContent('thaw');

		_navAnimTimer = setTimeout(() => {
			NavPanel.classList.add('display-none');
		}, _navAnimDuration);

		_navStateInvoker = `${invokedBy}-collapsed`;
	}

	function freezeContent(action = '') {
		if (action === '') {
			window.addEventListener('scroll', attributeToggler);
			Main.addEventListener('click', attributeToggler);

			// freeze content elements' dimensions
			const freezeWidth = Main.scrollWidth.toString();
			PrimaryGrid.style.gridTemplateColumns = `auto ${freezeWidth}px`;
			Main.setAttribute('aria-hidden', 'true');
			Footer.setAttribute('aria-hidden', 'true');
			_isContentFrozen = true;
		} else if (action === 'thaw') {
			window.removeEventListener('scroll', attributeToggler);
			Main.removeEventListener('click', attributeToggler);

			Main.removeAttribute('aria-hidden');
			Footer.removeAttribute('aria-hidden');

			_navAnimTimer = setTimeout(() => {
				PrimaryGrid.removeAttribute('style');
			}, _navAnimDuration);
			_isContentFrozen = false;
		}
	}

	function attributeToggler() {
		_isNavExpanded = Nav.getAttribute('aria-expanded');

		if (_isNavExpanded === 'true') {
			setCollapsedNavAttributes('user');
		} else {
			setExpandedNavAttributes('user');
		}
	}

	function allLinkHandler(e) {
		e.preventDefault();
		const linkDestination = e.target.closest('a').getAttribute('href');
		const linkType = e.target.closest('a').hasAttribute('data-nav-link')
			? 'nav'
			: e.target.closest('a').classList.contains('crumb-link')
			? 'crumb'
			: null;

		// TODO: switch to switch?
		if (linkType === 'nav') {
			// scroll to top & end function if current page is selected
			if (linkDestination === window.location.pathname) {
				if (_screenWidth === 'narrow') {
					setCollapsedNavAttributes();
					_navAnimTimer = setTimeout(() => {
						window.scrollTo(0, 0);
					}, _navAnimDuration);
					return;
				} else {
					window.scrollTo(0, 0);
					return;
				}
			}

			// immediately transfer aria-current attribute/styling to clicked nav link
			NavLinks.forEach((link) => {
				if (link.getAttribute('href') === linkDestination) {
					link.setAttribute('aria-current', 'page');
				} else {
					link.removeAttribute('aria-current');
				}
			});

			// collapse nav w/o triggering other animations caused by setCollapsedNavAttributes()
			if (_screenWidth === 'narrow') {
				Nav.style.width = '0px';
			}
		}

		// expand nav to match nav state on destination page
		_isNavExpanded = Nav.getAttribute('aria-expanded');
		if (_screenWidth === 'wide' && _isNavExpanded === 'false') {
			setExpandedNavAttributes('auto');
		}

		startUnmountAnim(linkDestination, linkType);

		// direct browser to destination href
		setTimeout(() => {
			window.location.href = linkDestination;
		}, _navAnimDuration);
	}

	function startUnmountAnim(linkDestination, linkType) {
		// add anim-unmount to content
		Main.classList.add('anim-unmount');
		Footer.classList.add('anim-unmount');

		let navLinkHrefs = [];
		NavLinks.forEach((link) => {
			navLinkHrefs.push(link.getAttribute('href'));
		});

		// add anim-unmount to all crumbs if going to root of diff section
		if (navLinkHrefs.some((href) => href === linkDestination) && linkType !== 'crumb') {
			Crumbs.classList.add('anim-unmount');
			return;
		}
		// add anim-unmount-crumb to crumbs that follow the clicked crumb
		else if (linkType === 'crumb') {
			const crumbLinks = Array.from(document.querySelectorAll('.crumb-link'));
			let clickedCrumbIndex;
			crumbLinks.forEach((link) => {
				if (link.getAttribute('href') === linkDestination) {
					clickedCrumbIndex = crumbLinks.indexOf(link);
					crumbLinks[clickedCrumbIndex].parentElement.setAttribute('data-clicked-crumb', '');
				}
			});

			for (let i = clickedCrumbIndex + 1; i < crumbLinks.length; i++) {
				crumbLinks[i].parentElement.classList.add('anim-unmount-crumb');
			}
			sessionStorage.setItem('crumbClicked', 'true');
		}
	}
</script>
