---
import { Icon } from 'astro-icon/components';

import navData from '../data/navData';
import Crumbs from './Crumbs.astro';

const { crumbs } = Astro.props;
---

<nav aria-expanded='true' data-disable-nav-panel-anim>
	<div class='top-bar'>
		<button class='nav-toggle' title='Navigation' aria-label='Navigation' aria-controls='nav-panel'>
			<span class='visually-hidden'>Navigation</span>
			<Icon name='nav_toggle' />
		</button>
		<Crumbs crumbs={crumbs} />
	</div>

	<div class='nav-panel' id='nav-panel'>
		<div class='placeholder'>
			<Icon name='nav_toggle' />
		</div>

		<div class='directory'>
			{
				navData.map((page) => (
					<a href={page.path} title={page.name} aria-label={page.name} data-nav-link>
						<span class='visually-hidden'>{page.name}</span>
						<Icon name={page.name.toLowerCase()} />
					</a>
				))
			}
		</div>

		<button class='contact' title='Contact' aria-label='Contact methods'>
			<span class='visually-hidden'>Contact methods</span>
			<Icon name='contact' />
		</button>
	</div>
</nav>

<style is:global>
	:root {
		/* update nav-anim-duration value in JS too for Safari bug | rel:1 */
		--nav-anim-duration: 300ms;
		--global-anim-timing-func: cubic-bezier(0.26, 0.4, 0, 1);
	}
</style>

<style lang='scss'>
	nav {
		$nav-width: 70px;
		$icon-width: 35px;
		$vert-padding: 20px;

		grid-area: nav;
		position: sticky;
		top: 0;
		width: $nav-width;
		height: calc(100vh);
		height: calc(100dvh);
		transition: width var(--global-anim-timing-func) var(--nav-anim-duration);
		z-index: 100;

		&[aria-expanded='false'] {
			width: 0px;
		}

		@media only screen and (max-width: 600px) {
			&[data-disable-nav-panel-anim] {
				width: 0px;
			}
		}

		.top-bar {
			z-index: 99;
			position: fixed;
			display: flex;
			max-width: 600px;
			top: $vert-padding;
			left: calc(($nav-width - $icon-width) / 2);
			margin-right: calc(($nav-width - $icon-width) / 2);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			border-radius: 5px;
		}

		.nav-panel {
			display: flex;
			flex-direction: column;
			row-gap: 15px;
			padding: $vert-padding 0;
			align-items: center;
			justify-content: space-between;
			overflow-x: hidden;
			overflow-y: auto;
			line-height: 0;
			height: calc(100vh - $vert-padding * 2);
			height: calc(100dvh - $vert-padding * 2);
		}

		.placeholder {
			opacity: 0;
		}

		svg {
			font-size: $icon-width;
			color: var(--glyph-standard);
		}

		button {
			line-height: 0;
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;

			a {
				$flush-left: calc(($nav-width - $icon-width) / -2);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					top: 0;
					left: calc($flush-left - 1px);
					height: 100%;
					border-left: 1px solid var(--glyph-standard);
					transition: left 200ms ease-out;
				}

				// current page
				&:is([aria-current]) {
					opacity: 1;

					&:after {
						left: calc($flush-left + 4px);
					}

					&:hover:after {
						left: calc($flush-left + 5px);
					}
				}

				// inactive pages
				&:not([aria-current]) {
					opacity: 0.5;

					&:focus {
						opacity: 1;
					}

					&:hover:after {
						left: calc($flush-left + 4px);
					}
				}
			}
		}

		.contact {
			opacity: 0.5;
		}
	}
</style>

<script>
	import { browserDetect } from '../../public/scripts/global-scripts.js';

	const SplashScreen = document.getElementById('splash-screen');
	const PrimaryGrid = document.getElementById('primary-grid');
	const Nav = document.querySelector('nav');
	const NavToggle = document.querySelector('.nav-toggle');
	const Crumbs = document.getElementById('crumbs');
	const CrumbLinks = document.querySelectorAll('[data-crumb-link]');
	const NavPanel = document.getElementById('nav-panel');
	const NavLinks = document.querySelectorAll('[data-nav-link]');
	const Main = document.querySelector('main');
	const Footer = document.querySelector('footer');
	const AllLinks = document.querySelectorAll('a');

	let _isContentFrozen = false;
	let _screenWidth;
	let _navAnimDuration;
	let _navAnimTimer;
	let _isNavExpanded;
	let _navStateInvoker;

	document.addEventListener('DOMContentLoaded', mount);
	window.addEventListener('pageshow', cacheCheck);

	function mount() {
		checkSessionStorage();
		setCurrentNavLink();
		mediaQueryHandler();
		Nav.removeAttribute('data-disable-nav-panel-anim');
		getNavAnimDuration();
		bindEvents();
	}

	function checkSessionStorage() {
		if (sessionStorage.getItem('crumbsDisableMountAnim') === 'true') {
			Crumbs.setAttribute('data-disable-crumb-anim', '');
			sessionStorage.removeItem('crumbsDisableMountAnim');
		}

		// attribute used to fade in all crumbs when clicked link takes user outside of expected crumb path (divergent) | rel:3
		if (sessionStorage.getItem('crumbsFadeInAll') === 'true') {
			Crumbs.setAttribute('data-fade-in-all-crumbs', '');
			sessionStorage.removeItem('crumbsFadeInAll');
		}

		if (sessionStorage.getItem('contentFadeInRightward') === 'true') {
			// animationName used instead of class to avoid opacity overrides from .anim- classes
			Main.style.animationName = 'fade-in-rightward';
			Footer.style.animationName = 'fade-in-rightward';
			sessionStorage.removeItem('contentFadeInRightward');
		}

		if (!sessionStorage.getItem('SplashScreenOccurred')) {
			SplashScreen.removeAttribute('data-disable-splash-screen');
			setTimeout(() => {
				sessionStorage.setItem('SplashScreenOccurred', 'true');
			}, 700)
		}
	}

	function cacheCheck(e) {
		if (!e.persisted) {
			return;
		}

		setCurrentNavLink();
		mediaQueryHandler();

		// remove cached styling from previous unmount
		let itemsToRemove = {
			elements: [Nav, Main, Footer, Crumbs],
			unmountAnimClasses: ['anim-fade-out', 'anim-fade-out-leftward', 'anim-fade-out-rightward'],
		};

		itemsToRemove.elements.forEach((el) => {
			el.removeAttribute('style');
			itemsToRemove.unmountAnimClasses.forEach((unmountAnimClass) => {
				el.classList.remove(unmountAnimClass);
			});
		});

		CrumbLinks.forEach((crumbLink) => {
			itemsToRemove.unmountAnimClasses.forEach((unmountAnimClass) => {
				crumbLink.parentElement.classList.remove(unmountAnimClass);
				crumbLink.nextElementSibling && crumbLink.nextElementSibling.classList.remove(unmountAnimClass);
			});
		});
	}

	function bindEvents() {
		window.addEventListener('resize', mediaQueryHandler);
		NavToggle.addEventListener('click', attributeToggler);
		AllLinks.forEach((link) => {
			if (!link.hasAttribute('data-disable-link-handler') && !link.getAttribute('href').includes('#')) {
				link.addEventListener('click', linkHandler);
			}
		});
	}

	function setCurrentNavLink() {
		const currentLocation = window.location.pathname;

		NavLinks.forEach((link) => {
			const linkDestination = link.getAttribute('href');
			// clear attributes incase of caching leftovers
			link.removeAttribute('aria-current');
			link.removeAttribute('aria-label');

			if (linkDestination === '/' && currentLocation === '/') {
				link.setAttribute('aria-current', 'page');
				link.setAttribute('aria-label', 'scroll to top');
			} else if (currentLocation.includes(linkDestination) && linkDestination !== '/') {
				link.setAttribute('aria-current', 'page');
				link.setAttribute('aria-label', 'scroll to top');
			}
		});
	}

	function mediaQueryHandler() {
		_isNavExpanded = Nav.getAttribute('aria-expanded');

		if (document.body.clientWidth <= 600) {
			_screenWidth = 'narrow';
		} else {
			_screenWidth = 'wide';
		}

		if (_screenWidth === 'narrow' && _isNavExpanded === 'true') {
			setCollapsedNavAttributes();
			return;
		}

		if (_screenWidth === 'wide') {
			if (_isContentFrozen === true) {
				freezeContent('thaw');
			} else if (_isNavExpanded === 'false' && _navStateInvoker === 'auto-collapsed') {
				setExpandedNavAttributes();
			}
		}
	}

	function getNavAnimDuration() {
		_navAnimDuration =
			Number(
				window
					.getComputedStyle(Nav)
					.getPropertyValue('transition-duration')
					.replace(/[^0-9\.]+/g, '')
			) * 1000;

		// fix for Safari bug | rel:1
		if (browserDetect() === 'safari') {
			_navAnimDuration = 300;
		}
	}

	function setExpandedNavAttributes(invokedBy = 'auto') {
		clearTimeout(_navAnimTimer);
		Nav.setAttribute('aria-expanded', 'true');
		NavPanel.removeAttribute('aria-hidden');
		NavPanel.classList.remove('display-none');

		if (_screenWidth === 'narrow') {
			freezeContent();
		}
		_navStateInvoker = `${invokedBy}-expanded`;
	}

	function setCollapsedNavAttributes(invokedBy = 'auto') {
		Nav.setAttribute('aria-expanded', 'false');
		NavPanel.setAttribute('aria-hidden', 'true');
		freezeContent('thaw');

		_navAnimTimer = setTimeout(() => {
			NavPanel.classList.add('display-none');
		}, _navAnimDuration);

		_navStateInvoker = `${invokedBy}-collapsed`;
	}

	function freezeContent(action = 'freeze') {
		if (action === 'freeze') {
			window.addEventListener('scroll', attributeToggler);
			Main.addEventListener('click', attributeToggler);

			// freeze content elements' dimensions
			const freezeWidth = Main.scrollWidth.toString();
			PrimaryGrid.style.gridTemplateColumns = `auto ${freezeWidth}px`;
			Main.setAttribute('aria-hidden', 'true');
			Footer.setAttribute('aria-hidden', 'true');
			_isContentFrozen = true;
		} else if (action === 'thaw') {
			window.removeEventListener('scroll', attributeToggler);
			Main.removeEventListener('click', attributeToggler);

			Main.removeAttribute('aria-hidden');
			Footer.removeAttribute('aria-hidden');

			_navAnimTimer = setTimeout(() => {
				PrimaryGrid.removeAttribute('style');
			}, _navAnimDuration);
			_isContentFrozen = false;
		}
	}

	function attributeToggler() {
		_isNavExpanded = Nav.getAttribute('aria-expanded');

		_isNavExpanded === 'true' ? setCollapsedNavAttributes('user') : setExpandedNavAttributes('user');
	}

	function linkHandler(e) {
		e.preventDefault();
		const linkDestination = e.target.closest('a').getAttribute('href');
		let linkType;
		Object.keys(e.target.closest('a').dataset).forEach((data) => {
			if (data.includes('Link')) {
				linkType = data;
				return;
			}
		});

		// remember divergent link was clicked so that all following crumbs fade in | rel:3
		if (linkType === 'divergentLink') {
			sessionStorage.setItem('crumbsFadeInAll', 'true');
		}

		if (linkType === 'navLink') {
			// scroll to top & end function if current page is selected
			if (linkDestination === window.location.pathname) {
				if (_screenWidth === 'narrow') {
					setCollapsedNavAttributes();
					window.scrollTo(0, 0);
					return;
				} else {
					window.scrollTo(0, 0);
					return;
				}
			}

			// immediately transfer aria-current attribute/styling to clicked nav link
			NavLinks.forEach((link) => {
				if (link.getAttribute('href') === linkDestination) {
					link.setAttribute('aria-current', 'page');
				} else {
					link.removeAttribute('aria-current');
				}
			});

			// collapse nav w/o triggering other animations caused by setCollapsedNavAttributes()
			if (_screenWidth === 'narrow') {
				Nav.style.width = '0px';
			}
		}

		// expand nav to match nav state on destination page
		_isNavExpanded = Nav.getAttribute('aria-expanded');
		if (_screenWidth === 'wide' && _isNavExpanded === 'false') {
			setExpandedNavAttributes();
		}

		unmountAnimHandler(linkDestination, linkType);

		// direct browser to destination href
		setTimeout(() => {
			window.location.href = linkDestination;
		}, _navAnimDuration);
	}

	function unmountAnimHandler(linkDestination, linkType) {
		// determine if user is going to new section
		let isSameSection = false;
		let destinationSection = linkDestination.slice(1).split('/')[0];
		let currentSection = window.location.pathname.slice(1).split('/')[0];
		currentSection == destinationSection && (isSameSection = true);

		// determine unmount animations depending on context
		if (isSameSection === true) {
			if (linkType === 'navLink' && _screenWidth === 'narrow') {
				Main.classList.add('anim-fade-out');
				Footer.classList.add('anim-fade-out');
				crumbUnmountAnimHandler('fade-out-leftward');
			} else if ((linkType === 'navLink' && _screenWidth === 'wide') || linkType === 'crumbLink') {
				Main.classList.add('anim-fade-out-rightward');
				Footer.classList.add('anim-fade-out-rightward');
				sessionStorage.setItem('contentFadeInRightward', 'true');
				crumbUnmountAnimHandler('fade-out-rightward');
			} else {
				Main.classList.add('anim-fade-out-leftward');
				Footer.classList.add('anim-fade-out-leftward');
			}
		}

		if (isSameSection === false) {
			Crumbs.classList.add('anim-fade-out');
			Main.classList.add('anim-fade-out');
			Footer.classList.add('anim-fade-out');
		}

		function crumbUnmountAnimHandler(animationName) {
			let clickedCrumbIndex;

			CrumbLinks.forEach((link) => {
				if (link.getAttribute('href') === linkDestination) {
					clickedCrumbIndex = Array.from(CrumbLinks).indexOf(link);
					// animate divider at end of clicked crumb
					CrumbLinks[clickedCrumbIndex].nextElementSibling.classList.add(`anim-${animationName}`);
				}
			});

			// fade out crumbs that come after clicked crumb
			for (let i = clickedCrumbIndex + 1; i < CrumbLinks.length; i++) {
				CrumbLinks[i].parentElement.classList.add(`anim-${animationName}`);
			}

			sessionStorage.setItem('crumbsDisableMountAnim', 'true');
		}
	}
</script>
