---
import { Icon } from 'astro-icon';

import navData from '../data/navData';
---

<div class="nav-wrap" data-disableAnim aria-expanded="true">
	<button class="nav-toggle" title="Navigation" aria-label="Navigation" aria-controls="primary-nav">
		<span class="visually-hidden">Navigation</span>
		<Icon name="hamburger_menu" />
	</button>

	<nav id="primary-nav">
		<div class="placeholder">
			<Icon name="hamburger_menu" />
		</div>

		<div class="directory">
			{
				navData.map((page) => (
					<a href={page.path} title={page.name} aria-label={page.name} data-navLink>
						<span class="visually-hidden">{page.name}</span>
						<Icon name={page.name.toLowerCase()} />
					</a>
				))
			}
		</div>

		<button class="notifications" title="Notifications" aria-label="Notifications" data-navLink>
			<span class="visually-hidden">Notifications</span>
			<Icon name="notifications" />
		</button>
	</nav>
</div>

<style is:global lang="scss">
	:root {
		--nav-width: 70px;
	}

	.nav-wrap {
		$icon-width: 35px;
		$vert-padding: 20px;
		grid-area: nav;
		position: sticky;
		top: 0;
		height: calc(100vh);
		height: calc(100dvh);

		.nav-toggle {
			position: fixed;
			left: calc((var(--nav-width) - $icon-width) / 2);
			top: $vert-padding;
			z-index: 9999;
		}

		nav {
			display: flex;
			flex-direction: column;
			row-gap: 65px;
			padding: $vert-padding 0;
			align-items: center;
			justify-content: space-between;
			overflow-y: auto;
			line-height: 0;
			height: calc(100vh - $vert-padding * 2);
			height: calc(100dvh - $vert-padding * 2);
		}

		.placeholder {
			opacity: 0;
		}

		svg {
			width: $icon-width;
			fill: var(--glyph-standard);
		}

		button {
			line-height: 0;
		}

		.directory {
			display: flex;
			flex-direction: column;
			row-gap: 25px;

			a {
				$flush-left: calc((var(--nav-width) - $icon-width) / -2);
				position: relative;

				&:after {
					content: '';
					position: absolute;
					left: calc($flush-left - 1px);
					height: 100%;
					border-left: 1px solid var(--glyph-standard);
					transition: left 200ms ease-out;
				}

				// current page
				&:is([aria-current]) {
					opacity: 1;

					&:after {
						left: calc($flush-left + 4px);
					}

					&:hover:after {
						left: calc($flush-left + 5px);
					}
				}

				// inactive pages
				&:not([aria-current]) {
					opacity: 0.5;

					&:hover:after {
						left: calc($flush-left + 4px);
					}
				}
			}
		}
	}
</style>

<script>
	const navLinks = document.querySelectorAll('[data-navLink]');
	const navToggle = document.querySelector('.nav-toggle');
	const navWrap = document.querySelector('.nav-wrap');
	const nav = document.getElementById('primary-nav');
	const main = document.querySelector('main');
	const contentWrap = document.getElementById('content-wrap');
	const mobileBreakPoint = 600;

	// add aria-current attribute to current page anchor tag in nav
	navLinks.forEach((link) => {
		if (link.getAttribute('href') === window.location.pathname) {
			link.setAttribute('aria-current', 'page');
		}
	});

	function throttle(fn, wait) {
		var time = Date.now();

		return function () {
			if (time + wait - Date.now() < 0) {
				fn();
				time = Date.now();
			}
		};
	}

	function setExpandedNavAttributes() {
		if (document.body.clientWidth <= mobileBreakPoint) {
			const mainWidth = main.offsetWidth.toString();
			const mainHeight = main.offsetHeight.toString();
			contentWrap.style.width = `${mainWidth}px`;
			main.style.height = `${mainHeight}px`;
			contentWrap.setAttribute('data-disabled', 'true');

			window.addEventListener('scroll', throttle(mobileNavAutoCollapse, 1000));
			main.addEventListener('click', attributeToggler);
		}

		navWrap.setAttribute('aria-expanded', 'true');
		nav.removeAttribute('aria-hidden');
		nav.classList.remove('display-none');
	}

	function setCollapsedNavAttributes() {
		const navAnimDuration =
			Number(
				window
					.getComputedStyle(document.querySelector('body'))
					.getPropertyValue('transition-duration')
					.replace(/[^0-9\.]+/g, '')
			) * 1000;

		setTimeout(() => {
			nav.classList.add('display-none');

			if (document.body.clientWidth <= mobileBreakPoint) {
				main.style.removeProperty('width');
				contentWrap.removeAttribute('data-disabled');
				main.removeEventListener('click', attributeToggler);
				contentWrap.style.removeProperty('width');
			main.style.removeProperty('height');
			}
		}, navAnimDuration);

		navWrap.setAttribute('aria-expanded', 'false');
		nav.setAttribute('aria-hidden', 'true');
	}

	// conditions for when nav attributes should adopt expanded/collapsed states
	function attributeToggler(setNavState) {
		const isNavExpanded = navWrap.getAttribute('aria-expanded');

		if (setNavState == 'collapseNav') {
			setCollapsedNavAttributes();
		} else if (setNavState == 'expandNav') {
			setExpandedNavAttributes();
		} else if (isNavExpanded === 'false') {
			setExpandedNavAttributes();
		} else {
			setCollapsedNavAttributes();
		}
	}

	function mediaQueryHandler() {
		const isNavExpanded = navWrap.getAttribute('aria-expanded');

		// removes data-disableAnim attribute to enable nav animations | related: 1
		setTimeout(() => {
			navWrap.removeAttribute('data-disableAnim');
		}, 0);

		// collapse nav when window shrinks to mobile width
		if (document.body.clientWidth <= mobileBreakPoint && isNavExpanded === 'true') {
			attributeToggler('collapseNav');
		}
	}

	function mobileNavAutoCollapse() {
		const isNavExpanded = navWrap.getAttribute('aria-expanded');

		if (document.body.clientWidth <= mobileBreakPoint && isNavExpanded === 'true') {
			setCollapsedNavAttributes();
		}
	}

	navToggle.addEventListener('click', throttle(attributeToggler, 200));
	window.addEventListener('resize', mediaQueryHandler);
	window.addEventListener('load', mediaQueryHandler);
</script>
