---
import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
const crumbs = [
	{
		text: 'journal',
		href: '/journal',
	},
	{
		text: `post-${frontmatter.id.toString().padStart(3, '0')}`,
		href: '#',
	},
];
---

<MainLayout
	title=`${frontmatter.title} | Eric Grossman`
	description={frontmatter.description}
	crumbs={crumbs}
	disableGlobalFooter='true'>
	<div class='journal-entry-grid'>
		<div class='image-column'>
			<img src=`/assets/${frontmatter.image.src}` alt={frontmatter.image.alt} />
		</div>
		<div class='article-column'>
			<article>
				<div class='header'>
					<h1>{frontmatter.title}</h1>
				</div>
				<div class='body'>
					<slot />
				</div>
			</article>
			<Footer />
		</div>
	</div>
</MainLayout>

<style lang='scss' is:global>
	.journal-entry-grid {
		display: grid;
		grid-template-columns: 1fr 1.5fr;

		@media only screen and (max-width: 1500px) {
			grid-template-columns: 1fr;
		}

		$img-size: 350px;
		.image-column {
			background-color: rgb(235, 235, 235);

			@media (prefers-color-scheme: dark) {
				background-color: rgb(77, 77, 77);
			}

			// color-match nav panel
			&::before {
				content: '';
				position: absolute;
				left: calc(var(--nav-width) * -1);
				background-color: inherit;
				width: var(--nav-width);
				height: 100vh;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			position: sticky;
			top: 0;
			height: 100vh;

			@media only screen and (max-width: 1500px) {
				position: static;
			}

			img {
				width: $img-size;
				height: $img-size;
				border-radius: 7px;
				box-shadow: 0 15px 35px rgba($color: #000000, $alpha: 0.5);
				animation: img-develop 3s ease-in-out 0s 1 both;
			}

			@keyframes img-develop {
				from {
					box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.3);
					// transform: translateY(10px);
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}
		}

		.article-column {
			padding: calc(50vh - ($img-size / 2) - 12px) 10% 10%;

			article {
				max-width: 75ch;
				margin: 0 auto;

				h1 {
					margin-bottom: 20px;
				}

				.body {
					p {
						margin-bottom: 20px !important;

						&:first-child::first-letter {
							float: left;
							margin-top: 2%;
							margin-right: 3px;
							line-height: 66%;
							font-size: 396%;
						}
					}
				}
			}
		}
	}
</style>
