---
import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
const crumbs = [
	{
		text: 'journal',
		href: '/journal',
	},
	{
		text: `post-${frontmatter.id.toString().padStart(3, '0')}`,
		href: '#',
	},
];
---

<MainLayout title=`${frontmatter.title} | Eric Grossman` description={frontmatter.description} crumbs={crumbs} >
	<div class="two-column">
		<div class="left-column">
			<img src=`/assets/${frontmatter.image.src}` alt={frontmatter.image.alt} />
		</div>
		<div class="right-column">
			<article>
				<h1>{frontmatter.title}</h1>
				<slot />
			</article>
			<Footer />

		</div>
	</div>
</MainLayout>

<style lang='scss' is:global>
	.two-column {
		display: grid;
		grid-template-columns: 1fr 1.5fr;


		.left-column {
			background: linear-gradient(90deg, rgba(0,0,0,0) 0%, rgba(235,235,235,1) 20%);
			// position: relative;

			--dark-background: rgb(77, 77, 77);

			@media (prefers-color-scheme: dark) {
				background: var(--dark-background);
				&::before {
					content: '';
					position: absolute;
					left: -70px;
					background-color: var(--dark-background);
					width: 70px;
					height: 100vh;
				}
		}
			
			display: grid;
			align-items: center;
			justify-content: center;
			position: sticky;
			top: 0;
			height: 100vh;
			
			img {
				width: 350px;
				height: 350px;
				border-radius: 5px;
			}
		}

		.right-column {

			article {
				max-width: 60ch;
				margin: 0 auto;

				p {
					margin-top: 20px;
				}

			}
			padding: 10%;
		}
	}
</style>
