---
import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
const crumbs = [
	{
		text: 'journal',
		href: '/journal',
	},
	{
		text: frontmatter.category,
		href: '#',
	},
	{
		text: `post-${frontmatter.id.toString().padStart(3, '0')}`,
		href: '#',
	},
];
---

<MainLayout
	title=`${frontmatter.title} | Eric Grossman`
	description={frontmatter.description}
	crumbs={crumbs}
	disableGlobalFooter='true'>
	<div class='journal-entry-grid'>
		<div class='image-column'>
			<img src=`/assets/${frontmatter.image.src}` alt={frontmatter.image.alt} />
		</div>
		<div class='article-column'>
			<article>
				<div class='header-container'>
					{
						frontmatter.subheader ? (
							<h2 class='subheader'>
								{frontmatter.subheader.date}
								{frontmatter.subheader.readTime ? ` | ${frontmatter.subheader.readTime} min read` : ''}
							</h2>
						) : (
							''
						)
					}
					<h1>{frontmatter.title}</h1>
				</div>
				{
					frontmatter.summary ? (
						<div class='summary-container'>
							<div class='summary-mask'>
								<p class='h2 placeholder' aria-hidden='true'>
									{frontmatter.summary}
								</p>
								<p class='h2 animated'>{frontmatter.summary}</p>
							</div>
						</div>
					) : (
						''
					)
				}
				<div class='body'>
					<slot />
				</div>
			</article>
			<Footer />
		</div>
	</div>
</MainLayout>

<style lang='scss' is:global>
	// center image regardless of nav | rel:4
	@media only screen and (min-width: 600px) {
		#primary-grid[data-nav-expanded='false'] .journal-entry-grid .image-column img {
			margin-left: 0;
		}
	}

	.journal-entry-grid {
		display: grid;
		grid-template-columns: 1fr 1fr;
		--image-size: 450px;

		@media only screen and (max-width: 2400px) {
			grid-template-columns: 1fr 1.5fr;
			--image-size: 350px;
		}

		@media only screen and (max-width: 1600px) {
			--image-size: 250px;
		}

		@media only screen and (max-width: 1000px) {
			--image-size: 40%;
			grid-template-columns: 1fr;
		}

		.image-column {
			background-color: rgb(235, 235, 235);

			@media (prefers-color-scheme: dark) {
				background-color: rgb(68, 68, 68);
			}

			// bleed background color under nav panel
			&::before {
				content: '';
				position: absolute;
				left: calc(var(--nav-width) * -1);
				background-color: inherit;
				width: var(--nav-width);
				height: 100vh;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			position: sticky;
			top: 0;
			height: 100vh;

			@media only screen and (max-width: 1000px) {
				position: static;
			}

			img {
				width: var(--image-size);
				height: auto;
				box-shadow: 0 15px 35px rgba($color: #000000, $alpha: 0.5);
				animation: img-develop 5s ease-in-out 0.5s 1 both;
				// center image regardless of nav | rel:4
				margin-left: calc(var(--nav-width) * -1);
				transition: margin-left var(--nav-anim-duration) var(--global-anim-timing-func)
					var(--nav-anim-duration);

				@media only screen and (max-width: 600px) {
					margin-left: 0;
				}
			}

			@keyframes img-develop {
				from {
					box-shadow: 0 5px 15px rgba($color: #000000, $alpha: 0.2);
					-webkit-filter: grayscale(100%);
					filter: grayscale(100%);
				}
			}
		}

		.article-column {
			padding: calc(50vh - (var(--image-size) / 2)) 10% 10%;

			article {
				max-width: 75ch;
				margin: 0 auto;

				.header-container {
					padding-bottom: 30px;
					border-bottom: 1px solid var(--glyph-standard);

					.subheader {
						font-size: 14px;
						margin-bottom: 10px;
					}
				}

				.summary-container {
					$padding-right-left: 22px;
					$padding-top-bottom: 20px;

					background-color: #d7d7d7;
					overflow: hidden;
					position: relative;
					padding: $padding-top-bottom $padding-right-left;

					@media (prefers-color-scheme: dark) {
						background-color: #4e4e4e;
					}

					p {
						text-wrap: pretty;
						line-height: 1.3;
					}

					.summary-mask {
						mask-image: linear-gradient(to top, transparent 0px, #fff 0px);

						.placeholder {
							opacity: 0;
							pointer-events: none;
						}

						.animated {
							top: $padding-top-bottom;
							right: $padding-right-left;
							left: $padding-right-left;
							position: absolute;
							animation: summary-typewriter 3s ease-in-out 0s 1 both;
						}
					}

					@keyframes summary-typewriter {
						from {
							max-width: 0%;
							opacity: 0;
						}

						to {
							max-width: 100%;
							opacity: 1;
						}
					}
				}

				.body {
					padding-top: 60px;

					p {
						margin-bottom: 20px !important;

						&:first-child::first-letter {
							float: left;
							margin-top: 2%;
							margin-right: 3px;
							line-height: 66%;
							font-size: 396%;
						}
					}
				}
			}
		}
	}
</style>
