---
import MainLayout from './MainLayout.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
const crumbs = [
	{
		text: 'journal',
		href: '/journal',
	},
	{
		text: `post-${frontmatter.id.toString().padStart(3, '0')}`,
		href: '#',
	},
];
---

<MainLayout
	title=`${frontmatter.title} | Eric Grossman`
	description={frontmatter.description}
	crumbs={crumbs}
	disableGlobalFooter='true'>
	<div class='journal-entry-grid'>
		<div class='image-column'>
			<img src=`/assets/${frontmatter.image.src}` alt={frontmatter.image.alt} />
		</div>
		<div class='article-column'>
			<article>
				<h1>{frontmatter.title}</h1>
				<slot />
			</article>
			<Footer />
		</div>
	</div>
</MainLayout>

<style lang='scss' is:global>
	.journal-entry-grid {
		display: grid;
		grid-template-columns: 1fr 1.5fr;

		@media only screen and (max-width: 1500px) {
			grid-template-columns: 1fr;
		}

		.image-column {
			background-color: rgb(235, 235, 235);

			@media (prefers-color-scheme: dark) {
				background-color: rgb(77, 77, 77);
			}

			// color-match nav panel
			&::before {
				content: '';
				position: absolute;
				left: calc(var(--nav-width) * -1);
				background-color: inherit;
				width: var(--nav-width);
				height: 100vh;
			}

			display: flex;
			align-items: center;
			justify-content: center;
			position: sticky;
			top: 0;
			height: 100vh;

			img {
				width: 350px;
				height: 350px;
				border-radius: 5px;
			}
		}

		.article-column {
			padding: 100px 10%;
			article {
				max-width: 75ch;
				margin: 0 auto;

				h1 {
					margin-bottom: 20px;
				}

				p {
					margin-bottom: 20px !important;
				}
			}
			
		}
	}
</style>
